asspath
*.project
**/*.settings
**/bin/*
**/lib/*
*.ipr
*.iws
*.iml
**/*.iml
#
.DS_Store
#
!.gitignore
**/out/*
!.gitignore
**/target
target
.idea
**/.idea/*
stacktrace.log
.history
**/lib_managed/*
**/sbt
**/sbt-launcher.jar
**/project/target
**/logs/*
