@(username: String)(implicit request: RequestHeader)

@main(Some(username)) {

<div class="row">
    <span class="span8">
        <label class="label notice">Searching by</label>
    <input id="filter" name="filter" class="input-large" type="text" placeholder="Filter"/>
    <button id="start" class="btn primary" type="submit">Start</button>
        <button id="stop" class="btn danger" type="submit">Stop</button>
    </span>

    <div class="span6">
        <span class="label notice">Filter by Language</span>
        <select id="filterByLanguage">
            <option selected>No filter</option>
            <option value="es">Spanish</option>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="it">Italian</option>
        </select>
    </div>
</div>
<div class="row"><BR><BR></a></div>
<div id="onChat" class="row">
    <div class="span14" id="main">
        <div id="twitter">
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">


    $(function () {

        $('#stop').hide()
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var chatSocket = new WS("@routes.Application.stream(username).webSocketURL()")

        var sendMessage = function () {
            chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
            ))
            $("#talk").val('')
        }

        var receiveEvent = function (event) {
            var data = JSON.parse(event.data)

            // Handle errors
            if (data.error) {
                chatSocket.close()
                $("#onError span").text(data.error)
                $("#onError").show()
                return
            } else {
                $("#onChat").show()
            }

            // Create the message element

            if (data.tweet != null) {
//                var el = $('<div class="well well-small" >' +
//                        '<div class="pull-left">' +
//                        '<b><span class="label success" id="tweeterUser" ></span></b>' +
//                        '<span class="label success" id="followers" ></span>' +
//                        '</div>' +
//                        '<div class="pull-right"><b>' +
//                        '<span id="created_at" class="label success"></span></b>' +
//                        '</div><br>' +
//                        '<br><img id="url" src=""/>' +
//                        '<span id="tweet"></span>' +
//                        '<br>' +
//                        '<div class="pull-right"><b>' +
//                        '<span id="lang" class="label success"></span></b>' +
//                        '</div>' +
//                        '</div>')

                var el = $('<div class="well well-small" >' +
                        '<div class="row">' +
                        '<div class="span3"><span class="label notice" id="tweeterUser"></span></div>' +
                        '<div class="span3"><span class="label notice" id="created_at"></span></div>' +
                        '<div class="span3"><span class="label notice" id="lang"></span></div>' +
                        '<div class="span2"><span class="label notice" id="followers"></span></div>' +
                        '<div class="span2"><span class="label notice" id="friends"></span></div>' +
                        '</div>' +
                        '<div class="media">' +
                        '<a class="pull-left" href="#">' +
                        '<img id="url" class="media-object" data-src="">' +
                        '</a>' +
                        '<div class="media-body"><br><span id="tweet"></span></div>' +
                        '</div></div>')


                $("#tweet", el).text('Tweet:' + data.tweet)
                $("#created_at", el).text(data.created_at)
                $("#tweeterUser", el).text('User: ' + data.tweeterUser)
                $("#followers", el).text("Followers: " + data.followers_count)
                $("#friends", el).text("Friends: " + data.friends_count)
                $("#lang", el).text(data.lang)
                $("#url", el).attr("src", data.url)
                $('#twitter').prepend(el)
            } else {
                var el = $('<div class="message"><span></span><p></p></div>')
                $("span", el).text(data.user)

                $("p", el).text(data.message)
                $(el).addClass(data.kind)
                if (data.user == '@username') $(el).addClass('me')
                $('#twitter').append(el)
            }

        }

        chatSocket.onmessage = receiveEvent

    })


    jQuery("#start").click(
            function () {
                $('#stop').show()
                $('#start').hide()
                $('#filter').attr('disabled', 'disabled')
                if ($("#filterByLanguage").val() == 'No filter')
                    $.get("@routes.Application.startFilter()", {'username': "@username", 'filter': $("#filter").val()}, function (data) {
                        $('#perete').html(data);
                    });
                else
                    $.get("@routes.Application.startFilter()", {'username': "@username", 'filter': $("#filter").val(), 'language': $("#filterByLanguage").val()}, function (data) {
                        $('#perete').html(data);
                    });

                return false;
            }
    )

    jQuery("#stop").click(
            function () {
                $('#start').show()
                $('#filter').removeAttr('disabled')
                $('#stop').hide()
                $.get("@routes.Application.stopFilter()", {'username': "@username", 'filter': $("#filter").val()}, function (data) {
                    $('#perete').html(data);
                });
                return false;
            }
    )

</script>

}
