@(username: String)(implicit request: RequestHeader)

@main(Some(username)) {
<div class="row">
    <span class="span8">
        <input id="filter" name="filter" type="text" class="input-medium">
        <button id="start" class="btn primary" type="submit">Search</button>
        <button id="stop" class="btn danger" type="submit">Stop</button>
    </span>

    <div class="span6">
        <span class="label important">Filter by Language</span>
        <select id="filterByLanguage">
            <option selected>No filter</option>
            <option value="es">Spanish</option>
            <option value="en">English</option>
            <option value="fr">French</option>
            <option value="de">German</option>
            <option value="it">Italian</option>
        </select>
    </div>
    <br>
    <br>

    <div class="pull-right">
        <span class="label important">Filter by Followers</span>
        <select id="filterByFollowers">
            <option selected>No filter</option>
            <option value="1">More than 500</option>
            <option value="2">More than 5.000</option>
            <option value="3">More than 50.000</option>
            <option value="4">More than 1000.000</option>
        </select>
    </div>
</div>
<div class="row"><BR><BR></a></div>
<div id="onChat" class="row">
    <div class="span14" id="main">
        <div id="twitter">
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">


    $(function () {

        $('#stop').hide()
        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var chatSocket = new WS("@routes.Application.stream(username).webSocketURL()")

        var sendMessage = function () {
            chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
            ))
            $("#talk").val('')
        }

        var receiveEvent = function (event) {
            var data = JSON.parse(event.data)

            // Handle errors
            if (data.error) {
                chatSocket.close()
                $("#onError span").text(data.error)
                $("#onError").show()
                return
            } else {
                $("#onChat").show()
            }

            // Create the message element

            if (data.tweet != null) {
                var el = $('<div class="well well-small" >' +
                        '<div class="row">' +
                        '<div class="span2"><img id="url" data-src=""></div>' +
                        '<div class="span3"><strong><span>User: </span></strong><span id="tweeterUser"></span></div>' +
                        '<div class="span3"><span id="created_at"></span></div>' +
                        '<div class="span3"><strong><span>Language: </span></strong><span id="lang"></span></div>' +
                        '<div class="span2"><strong><span>Followers: </span></strong><span id="followers"></span></div>' +
                        '</div>' +
                        '<div class="media">' +
//                        '<a class="pull-left" href="#">' +
//                        '<img id="url" class="media-object" data-src="">' +
//                        '</a>' +
                        '<div class="media-body"><br><img src="@routes.Assets.at("images/bird_blue_16.png")">' +
                        '<span id="tweet"></span></div>' +
                        '</div></div>')


                $("#tweet", el).text(' ' + data.tweet)
                $("#created_at", el).text(data.created_at)
                $("#tweeterUser", el).text(data.tweeterUser)
                $("#followers", el).text(data.followers_count)
                $("#lang", el).text(data.lang)
                $("#url", el).attr("src", data.url)
                $('#twitter').prepend(el)
            } else {
                var el = $('<div class="message"><span></span><p></p></div>')
                $("span", el).text(data.user)

                $("p", el).text(data.message)
                $(el).addClass(data.kind)
                if (data.user == '@username') $(el).addClass('me')
                $('#twitter').append(el)
            }

        }

        chatSocket.onmessage = receiveEvent

    })


    jQuery("#start").click(
            function () {
                $('#stop').show()
                $('#start').hide()
                $('#filter').attr('disabled', 'disabled')
//                if ($("#filterByLanguage").val() == 'No filter')
//                    $.get("@routes.Application.startFilter()", {'username': "@username", 'filter': $("#filter").val()}, function (data) {
//                        $('#perete').html(data);
//                    });
//                else
                    $.get("@routes.Application.startFilter()", {'username': "@username",
                        'filter': $("#filter").val(),
                        'followers': $("#filterByFollowers").val(),
                        'language': $("#filterByLanguage").val()}, function (data) {
                        $('#perete').html(data);
                    });

                return false;
            }
    )

    jQuery("#stop").click(
            function () {
                $('#start').show()
                $('#filter').removeAttr('disabled')
                $('#stop').hide()
                $.get("@routes.Application.stopFilter()", {'username': "@username", 'filter': $("#filter").val()}, function (data) {
                    $('#perete').html(data);
                });
                return false;
            }
    )

</script>

}
