@(socketIndentifier: String)(implicit request: RequestHeader)

@main(Some(socketIndentifier)) {
<br><br><br>
<br><br><br>

<div   class="pull-right">
    <input id="filter" name="filter" class="input-small" type="text" placeholder="Filter">
    <button id="start" class="btn" type="submit">Start</button>
</div>
<!--<div class="result" style="border: 1px solid black; padding: 5px;">not sent yet...</div>-->

<br><br><br>
<div class="pull-right">
    <button id="stop" class="btn" type="submit">Stop</button>
</div>

<div id="onChat" class="row">
    <div class="span10" id="main">
        <div id="messages">
        </div>
    </div>
</div>


<script type="text/javascript" charset="utf-8">


    $(function () {

        var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
        var chatSocket = new WS("@routes.Application.stream(socketIndentifier).webSocketURL()")

        var sendMessage = function () {
            chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
            ))
            $("#talk").val('')
        }

        var receiveEvent = function (event) {
            var data = JSON.parse(event.data)

            // Handle errors
            if (data.error) {
                chatSocket.close()
                $("#onError span").text(data.error)
                $("#onError").show()
                return
            } else {
                $("#onChat").show()
            }

            // Create the message element

            if (data.tweet != null) {
                var el = $('<div class="message" ><img id="url" src=""/> ' +
                        '                        <span id="tweet"></span>' +
                        '<br><span id="created_at"></span>' +
                        '<span id="tweeterUser"></span>' +
                        '</div>')
                $("#tweet", el).text(data.tweet)
                $("#created_at", el).text(data.created_at)
                $("#tweeterUser", el).text(data.tweeterUser)
                $("#url", el).attr("src", data.url)
                $('#messages').prepend(el)
            } else {
                var el = $('<div class="message"><span></span><p></p></div>')
                $("span", el).text(data.user)

                $("p", el).text(data.message)
                $(el).addClass(data.kind)
                if (data.user == '@socketIndentifier') $(el).addClass('me')
                $('#messages').append(el)
            }

        }

        chatSocket.onmessage = receiveEvent

    })



    jQuery("#start").click(
                   function () {
                       $.get("@routes.Application.startFilter()",{'filter':$("#filter").val()}, function (data) {
                           $('#perete').html(data);
                       });
                       return false;
                   }
           )

    jQuery("#stop").click(
                       function () {
                           $.get("@routes.Application.stopFilter()", function (data) {
                               $('.result').html(data);
                           });
                           return false;
                       }
               )

</script>

}
